{{#googleUrl}}🌍 <a href="{{googleUrl}}">Google Maps</a>{{/googleUrl}}
{{#appleUrl}}🍏 <a href="{{appleUrl}}">Apple Maps</a>{{/appleUrl}}
{{#bingUrl}}🧭 <a href="{{bingUrl}}">Bing Maps</a>{{/bingUrl}}
{{#openstreetmapUrl}}🗺️ <a href="{{openstreetmapUrl}}">OpenStreetMap</a>{{/openstreetmapUrl}}
{{#wazeUrl}}🚗 <a href="{{wazeUrl}}">Waze</a>{{/wazeUrl}}
{{#komootUrl}}🚴 <a href="{{komootUrl}}">Komoot</a>{{/komootUrl}}